* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background:  #3A3A3A;/* #002330;*/
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #34495E;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.password-display {
    display: flex;
    margin-bottom: 20px;
}

#password {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.options {
    margin-bottom: 20px;
}

.option {
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}